<table>
<thead>
        <th>RollNumber</th>
        <th>Name</th>
        <th>IQ</th>
        <th>Action</th>
</thead>
<tbody>
    <tr *ngFor="let item of students">
    <td>
        {{item.RollNumber}}
    </td>
    <td>
        {{item.Name | properName}}
    </td>
    <td>
        {{item.IQ}}
    </td>
    <td>
        <button type="button" (click)="EditStudent(item)">Edit</button>
        <button type="button" (click)="DeleteStudent(item)">Delete</button>
    </td>
    </tr>
</tbody>
</table>
<!-- <p *appUnless>

</p>
<p *appUnless=>

</p> -->
<!-- <ul>
    <li *ngfor="let item of students">
            {{item}}
    </li>
</ul>
<ul>
    <ng-template ngFor let-item [ngForOf]="students">
        <li>{{item}}</li>
    </ng-template>
</ul> -->