
<form #linkedinCommentForm = "ngForm">
    <hr/>
    <div>
       <b>Post number:</b> {{lstPosts.Id}}
    </div>
    <div>
        {{lstPosts.Text}}
    </div>
    <div style="padding-top: 10px;">
        <button type="button" (click)="ChangeButtonColor()"
        [ngStyle]="{'color': (lstPosts.PostLikes?.length > 0 ) ? 'blue': ''}" >Like {{lstPosts.PostLikes?.length}}</button> &nbsp;
        <button type="button" (click)="ShowHideCommentDiv()">Show/Hide Comment</button>
    </div>
    <div class="row" style="margin-top: 10px;" id="dvComment" *ngIf="displayCommentDv">
        <textarea title="Your Comment" rows="2" name="comment" cols="25" [(ngModel)]="objComment.Comments"></textarea>
        &nbsp;
        
        <button type="submit" (click)="AddComment()">Save</button>
    </div>
    <div style="height: 150px;overflow-y: auto;">
        Comment List
        <ul>
            <li *ngFor ="let comment of lstPosts.PostComments">
                   {{comment.Comments}}
            </li>
        </ul>
    </div>
</form> 